*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 20px;
}

.result {
    width: 50%;
}

.container{
    display: flex;
    margin: 3px;
    background-color:blanchedalmond;
}

.lign{
    display: flex;
    background-color:white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05) ;
    border-top: 2px solid rgba(255, 255 , 255,0.05);
    border-radius: 2px;
}
.lign button{
    border: 0;
    background: none;
}

.main{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.main button{
    margin-top: 5px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
    border: 0;
}

.result{
    margin: 50px;
}



